@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

$font: 'Poppins', sans-serif;
$primary-color:#FF007B;
$secondary-color: #EBF9FC;

body {
	background-color: rgb(20, 171, 241);
}